Repository danieleschmidt/causal-eval-bench, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danieleschmidt, @terragon-labs/maintainers, @terragon-labs/core-team, @terragon-labs/backend-team, @terragon-labs/research-team, @terragon-labs/docs-team, @terragon-labs/devops-team, @terragon-labs/qa-team, @terragon-labs/security-team, @terragon-labs/release-team

📋 Add GitHub Actions workflow documentation
  WORKFLOWS_TO_ADD.md
Owners: @danieleschmidt, @terragon-labs/maintainers

docs: establish project foundation and community files
  PROJECT_CHARTER.md
Owners: @danieleschmidt, @terragon-labs/maintainers

feat: setup development environment and code quality tools
  .gitignore
Owners: @danieleschmidt, @terragon-labs/maintainers

feat: add VS Code configuration files for consistent development experience
  .vscode/extensions.json
  .vscode/settings.json
Owners: @danieleschmidt, @terragon-labs/maintainers

test: establish comprehensive testing infrastructure
  docs/testing/README.md
Owners: @danieleschmidt, @terragon-labs/docs-team

build: add containerization and build automation
  docs/deployment/README.md
Owners: @danieleschmidt, @terragon-labs/docs-team

build: add .dockerignore to optimize Docker build context
  .dockerignore
Owners: @danieleschmidt, @terragon-labs/maintainers

ops: add monitoring and observability configuration
  docs/monitoring/README.md
  docs/runbooks/incident-response.md
Owners: @danieleschmidt, @terragon-labs/docs-team

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/release.yml
  docs/workflows/examples/security-scan.yml
Owners: @danieleschmidt, @terragon-labs/docs-team

feat: complete SDLC automation Checkpoint 8 - Integration & Final Configuration
  .github/project-metrics.json
  CODEOWNERS
  docs/repository/CONFIGURATION.md
  scripts/automation_manager.py
  scripts/metrics_collector.py
Owners: @danieleschmidt, @terragon-labs/devops-team, @terragon-labs/maintainers, @terragon-labs/docs-team

docs: add community and development documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  docs/DEVELOPMENT.md
Owners: @danieleschmidt, @terragon-labs/maintainers, @terragon-labs/docs-team, @terragon-labs/security-team

feat: enhance development tooling and configuration
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
Owners: @danieleschmidt, @terragon-labs/maintainers

docs: add workflow requirements and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/SETUP_REQUIRED.md
  docs/workflows/README.md
Owners: @danieleschmidt, @terragon-labs/devops-team, @terragon-labs/docs-team

.github/CODEOWNERS:

# CODEOWNERS file for Causal Eval Bench
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - these users will be requested for review on all PRs
* @danieleschmidt @terragon-labs/maintainers

# Core package
/causal_eval/ @danieleschmidt @terragon-labs/core-team

# API and web interface
/causal_eval/api/ @danieleschmidt @terragon-labs/backend-team
/causal_eval/cli/ @danieleschmidt @terragon-labs/core-team

# Evaluation tasks and generation
/causal_eval/tasks/ @danieleschmidt @terragon-labs/research-team
/causal_eval/generation/ @danieleschmidt @terragon-labs/research-team
/causal_eval/analysis/ @danieleschmidt @terragon-labs/research-team

# Documentation
/docs/ @danieleschmidt @terragon-labs/docs-team
README.md @danieleschmidt @terragon-labs/docs-team
CONTRIBUTING.md @danieleschmidt @terragon-labs/docs-team

# Infrastructure and DevOps
/.github/ @danieleschmidt @terragon-labs/devops-team
/docker/ @danieleschmidt @terragon-labs/devops-team
/scripts/ @danieleschmidt @terragon-labs/devops-team
Dockerfile @danieleschmidt @terragon-labs/devops-team
docker-compose*.yml @danieleschmidt @terragon-labs/devops-team

# Configuration files
pyproject.toml @danieleschmidt @terragon-labs/maintainers
poetry.lock @danieleschmidt @terragon-labs/maintainers
.pre-commit-config.yaml @danieleschmidt @terragon-labs/maintainers

# Testing
/tests/ @danieleschmidt @terragon-labs/qa-team

# Security and compliance
SECURITY.md @danieleschmidt @terragon-labs/security-team
/.github/workflows/security.yml @danieleschmidt @terragon-labs/security-team

# Release management
/.github/workflows/release.yml @danieleschmidt @terragon-labs/release-team
/.github/workflows/cd.yml @danieleschmidt @terragon-labs/release-team
.releaserc.json @danieleschmidt @terragon-labs/release-team
CHANGELOG.md @danieleschmidt @terragon-labs/release-team
