Repository danieleschmidt/causal-eval-bench, changes with the owners that CODEOWNERS names for each.
All owners: @danieleschmidt, @causal-eval-maintainers, @domain-experts, @ml-experts, @ai-experts, @backend-experts, @devops-team, @sre-team, @python-experts, @frontend-team, @docs-team, @security-team, @legal-team, @community-team, @data-engineers, @data-scientists, @ui-experts

CODEOWNERS:

# Code Owners for Causal Eval Bench
# This file defines who must review changes to specific parts of the codebase.
# Maintainers and contributors are automatically requested for review based on the files changed.

# Global fallback - require review from core maintainers
* @danieleschmidt @causal-eval-maintainers

# =============================================================================
# CORE FRAMEWORK
# =============================================================================

# Core evaluation engine - requires specialized domain expertise
/causal_eval/tasks/ @danieleschmidt @domain-experts @causal-eval-maintainers
/causal_eval/evaluation/ @danieleschmidt @ml-experts @causal-eval-maintainers
/causal_eval/generation/ @danieleschmidt @ai-experts @causal-eval-maintainers

# API and interfaces - critical for stability
/causal_eval/api/ @danieleschmidt @backend-experts @causal-eval-maintainers
/causal_eval/__init__.py @danieleschmidt @causal-eval-maintainers

# Configuration and settings
/causal_eval/config/ @danieleschmidt @devops-team @causal-eval-maintainers

# =============================================================================
# INFRASTRUCTURE & OPERATIONS
# =============================================================================

# Docker and containerization
Dockerfile* @danieleschmidt @devops-team @causal-eval-maintainers
docker-compose*.yml @danieleschmidt @devops-team @causal-eval-maintainers
.dockerignore @devops-team @causal-eval-maintainers

# CI/CD workflows - critical infrastructure
/.github/workflows/ @danieleschmidt @devops-team @causal-eval-maintainers
/.github/actions/ @danieleschmidt @devops-team @causal-eval-maintainers

# Deployment and monitoring
/deploy/ @danieleschmidt @devops-team @causal-eval-maintainers
/monitoring/ @devops-team @sre-team @causal-eval-maintainers
/scripts/ @danieleschmidt @devops-team @causal-eval-maintainers

# Build configuration
pyproject.toml @danieleschmidt @python-experts @causal-eval-maintainers
poetry.lock @danieleschmidt @python-experts @causal-eval-maintainers
setup.py @danieleschmidt @python-experts @causal-eval-maintainers
setup.cfg @python-experts @causal-eval-maintainers

# =============================================================================
# DEVELOPMENT ENVIRONMENT
# =============================================================================

# Development container configuration
/.devcontainer/ @danieleschmidt @devops-team @causal-eval-maintainers
/.vscode/ @danieleschmidt @frontend-team

# Code quality and linting
.pre-commit-config.yaml @danieleschmidt @python-experts @causal-eval-maintainers
.ruff.toml @python-experts @causal-eval-maintainers
mypy.ini @python-experts @causal-eval-maintainers
.black @python-experts @causal-eval-maintainers

# Testing configuration
pytest.ini @danieleschmidt @python-experts @causal-eval-maintainers
tox.ini @python-experts @causal-eval-maintainers
/tests/ @danieleschmidt @python-experts @causal-eval-maintainers

# =============================================================================
# DOCUMENTATION
# =============================================================================

# Core documentation - requires domain expertise
README.md @danieleschmidt @docs-team @causal-eval-maintainers
CHANGELOG.md @danieleschmidt @docs-team @causal-eval-maintainers

# Technical documentation
/docs/ @danieleschmidt @docs-team @causal-eval-maintainers
*.md @docs-team @causal-eval-maintainers

# API documentation
/docs/api/ @danieleschmidt @backend-experts @docs-team
/docs/examples/ @danieleschmidt @docs-team @ml-experts

# Deployment documentation
/docs/deployment/ @devops-team @sre-team @docs-team
/docs/monitoring/ @devops-team @sre-team @docs-team

# =============================================================================
# SECURITY & COMPLIANCE
# =============================================================================

# Security-sensitive files
SECURITY.md @danieleschmidt @security-team @causal-eval-maintainers
/.github/dependabot.yml @security-team @devops-team
/.secrets.baseline @security-team @causal-eval-maintainers

# License and legal
LICENSE @danieleschmidt @legal-team @causal-eval-maintainers
NOTICE @legal-team @causal-eval-maintainers

# Governance
CONTRIBUTING.md @danieleschmidt @community-team @causal-eval-maintainers
CODE_OF_CONDUCT.md @community-team @causal-eval-maintainers
GOVERNANCE.md @danieleschmidt @community-team @causal-eval-maintainers

# =============================================================================
# DOMAIN-SPECIFIC AREAS
# =============================================================================

# Machine Learning models and algorithms
/causal_eval/models/ @danieleschmidt @ml-experts @ai-experts
/causal_eval/algorithms/ @danieleschmidt @ml-experts @domain-experts

# Data processing and analysis
/causal_eval/data/ @danieleschmidt @data-engineers @ml-experts
/causal_eval/analysis/ @danieleschmidt @data-scientists @domain-experts

# Evaluation metrics and benchmarks
/causal_eval/metrics/ @danieleschmidt @ml-experts @domain-experts
/benchmarks/ @danieleschmidt @ml-experts @domain-experts

# =============================================================================
# FRONTEND & UI (if applicable)
# =============================================================================

# Web interface and dashboards
/web/ @frontend-team @ui-experts
/dashboard/ @frontend-team @ui-experts @data-scientists

# Visualization components
/causal_eval/visualization/ @frontend-team @data-scientists @ui-experts

# =============================================================================
# SAMPLE DATA & EXAMPLES
# =============================================================================

# Sample datasets and examples
/samples/ @danieleschmidt @docs-team @ml-experts
/examples/ @danieleschmidt @docs-team @ml-experts
/data/samples/ @data-engineers @ml-experts

# =============================================================================
# TEAM DEFINITIONS
# =============================================================================
# The following GitHub teams should be created in the repository settings:
#
# Core Teams:
# - @causal-eval-maintainers: Core maintainers with merge access
# - @danieleschmidt: Project lead and primary maintainer
#
# Specialized Teams:
# - @ml-experts: Machine learning specialists
# - @ai-experts: AI/LLM specialists  
# - @domain-experts: Causal reasoning domain experts
# - @data-scientists: Data analysis specialists
# - @data-engineers: Data pipeline specialists
#
# Technical Teams:
# - @python-experts: Python development specialists
# - @backend-experts: Backend/API specialists
# - @frontend-team: Frontend developers
# - @ui-experts: UI/UX specialists
# - @devops-team: DevOps and infrastructure
# - @sre-team: Site reliability engineers
# - @security-team: Security specialists
#
# Support Teams:
# - @docs-team: Documentation specialists
# - @community-team: Community management
# - @legal-team: Legal and compliance
#
# =============================================================================
# REVIEW REQUIREMENTS
# =============================================================================
# Minimum review requirements by area:
#
# Critical Areas (2+ reviews required):
# - Core evaluation engine (/causal_eval/tasks/, /causal_eval/evaluation/)
# - API interfaces (/causal_eval/api/)
# - Security files (SECURITY.md, workflows)
# - Release configuration (pyproject.toml, workflows)
#
# Standard Areas (1+ review required):
# - All other code changes
# - Documentation updates
# - Configuration changes
#
# Auto-merge Eligible (with successful CI):
# - Dependency updates (automated PRs)
# - Documentation typos/formatting
# - Non-functional test updates
#
# =============================================================================
# BRANCH PROTECTION INTEGRATION
# =============================================================================
# This CODEOWNERS file should be used with branch protection rules:
#
# Main Branch Protection:
# - Require pull request reviews before merging
# - Require review from code owners
# - Dismiss stale PR approvals when new commits are pushed
# - Require status checks to pass before merging
# - Require branches to be up to date before merging
# - Restrict pushes to matching branches (admins only)
#
# =============================================================================

chore(sdlc): add advanced SDLC configuration and tooling files
  .gitattributes
  .hadolint.yaml
  .renovaterc.json
  .safety-policy.yml
  codecov.yml
  docs/SDLC_IMPLEMENTATION.md
  sonar-project.properties
Owners: @danieleschmidt, @causal-eval-maintainers, @docs-team

feat: Advanced SDLC optimization and modernization enhancements
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/SECURITY.md
  .github/dependabot.yml
  docs/advanced/AI_INTEGRATION.md
  docs/advanced/CHAOS_ENGINEERING.md
  docs/advanced/PERFORMANCE_OPTIMIZATION.md
  docs/advanced/SUPPLY_CHAIN_SECURITY.md
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers, @security-team, @docs-team

feat: Comprehensive SDLC enhancement with workflow templates
  .github/FUNDING.yml
  AUTONOMOUS_SDLC_REPORT.md
  IMPLEMENTATION_GUIDE.md
  docs/advanced/DISASTER_RECOVERY.md
  docs/advanced/OBSERVABILITY.md
  docs/workflows/GITHUB_ACTIONS_TEMPLATES.md
  scripts/performance_test.py
Owners: @danieleschmidt, @causal-eval-maintainers, @docs-team, @devops-team

feat: Advanced SDLC automation and development experience enhancements
  CLAUDE.md
  Makefile
  scripts/dev_setup.py
  scripts/quality_check.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @devops-team

feat: Complete core implementation and activate advanced SDLC workflows
  IMPLEMENTATION_STATUS.md
  WORKFLOWS_SETUP_REQUIRED.md
  alembic.ini
  alembic/env.py
  alembic/script.py.mako
  causal_eval/__init__.py
  causal_eval/api/__init__.py
  causal_eval/api/app.py
  causal_eval/api/routes/__init__.py
  causal_eval/api/routes/evaluation.py
  causal_eval/api/routes/health.py
  causal_eval/api/routes/tasks.py
  causal_eval/core/__init__.py
  causal_eval/core/engine.py
  causal_eval/core/metrics.py
  causal_eval/core/tasks.py
  causal_eval/main.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts

docs: Update workflow activation status to reflect GitHub permissions limitation
  IMPLEMENTATION_STATUS.md
Owners: @docs-team, @causal-eval-maintainers

feat: Complete Terragon Adaptive SDLC enhancement with production-ready workflows
  CLAUDE.md
  TERRAGON_SDLC_ENHANCEMENT_SUMMARY.md
  WORKFLOWS_ACTIVATION_GUIDE.md
  WORKFLOW_ACTIVATION_STATUS.md
  docs/workflows/production-ready/advanced-security.yml
  docs/workflows/production-ready/performance-monitoring.yml
  docs/workflows/production-ready/production-deployment.yml
  scripts/activate-workflows.sh
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @devops-team

feat: Deploy Terragon Autonomous SDLC Value Discovery Framework v2.0.0
  .terragon/config.yaml
  .terragon/latest-discovery.json
  .terragon/value-metrics.json
  AUTONOMOUS_SDLC_VALUE_DISCOVERY_REPORT.md
  BACKLOG.md
  docs/workflows/ACTIVATION_GUIDE.md
  scripts/value_discovery.py
Owners: @danieleschmidt, @causal-eval-maintainers, @docs-team, @devops-team

docs(sdlc): add complete checkpointed SDLC implementation summary
  CHECKPOINTED_SDLC_IMPLEMENTATION_SUMMARY.md
Owners: @docs-team, @causal-eval-maintainers

docs: add comprehensive workflow activation guide due to GitHub App permissions
  CHECKPOINTED_SDLC_IMPLEMENTATION_SUMMARY.md
  FINAL_WORKFLOW_ACTIVATION_GUIDE.md
Owners: @docs-team, @causal-eval-maintainers

docs: establish comprehensive user and developer guides
  docs/guides/api/reference.md
  docs/guides/deployment/production.md
  docs/guides/developer/contributing.md
  docs/guides/user/getting-started.md
Owners: @docs-team, @causal-eval-maintainers

feat: enhance development environment with VSCode debugging and task configuration
  .vscode/launch.json
  .vscode/tasks.json
Owners: @danieleschmidt, @frontend-team

test: enhance testing infrastructure with fixtures and custom assertions
  tests/fixtures/__init__.py
  tests/fixtures/test_data.py
  tests/helpers/__init__.py
  tests/helpers/assertions.py
Owners: @danieleschmidt, @python-experts, @causal-eval-maintainers

build: enhance containerization with advanced Docker features and multi-arch support
  .buildx.yml
  docker-compose.override.yml.example
  scripts/build.py
Owners: @danieleschmidt, @causal-eval-maintainers, @devops-team

monitoring: enhance observability with comprehensive dashboards and metrics
  docker/grafana/dashboards/causal-eval-overview.json
  docker/grafana/dashboards/model-performance.json
  docker/prometheus/recording_rules.yml
  scripts/monitoring_setup.py
Owners: @danieleschmidt, @causal-eval-maintainers, @devops-team

docs: enhance GitHub Actions workflows with comprehensive templates and setup guide
  docs/workflows/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/examples/auto-update.yml
  docs/workflows/examples/benchmark-suite.yml
  docs/workflows/examples/docker-build.yml
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

checkpoint(8): complete integration & final configuration
  .github/sdlc_validation_results.json
  Dockerfile
  docs/TERRAGON_SDLC_COMPLETION.md
  scripts/sdlc_validation.py
  tests/fixtures/assertion_helpers.py
Owners: @danieleschmidt, @causal-eval-maintainers, @devops-team, @docs-team, @python-experts

feat: establish project foundation and implement core causal evaluation functionality
  ARCHITECTURE.md
  causal_eval/core/engine.py
  causal_eval/core/metrics.py
  causal_eval/tasks/__init__.py
  causal_eval/tasks/attribution.py
  causal_eval/tasks/counterfactual.py
  causal_eval/tasks/intervention.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @domain-experts

feat: setup dev environment and implement data persistence layer
  causal_eval/database/__init__.py
  causal_eval/database/connection.py
  causal_eval/database/models.py
  causal_eval/repositories/__init__.py
  causal_eval/repositories/base.py
  causal_eval/repositories/evaluation.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat: implement testing infrastructure and complete API implementation
  causal_eval/api/routes/evaluation.py
  tests/conftest.py
  tests/integration/test_api_evaluation.py
  tests/unit/test_causal_attribution.py
  tests/unit/test_evaluation_engine.py
Owners: @danieleschmidt, @backend-experts, @causal-eval-maintainers, @python-experts

feat: add build system and implement external service integrations
  Dockerfile
  causal_eval/integrations/__init__.py
  causal_eval/integrations/cache.py
  causal_eval/integrations/model_apis.py
  causal_eval/integrations/notifications.py
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers

Implement SDLC Infrastructure Core with Evaluation Engine, DB, and Integrations (#22)
  ARCHITECTURE.md
  Dockerfile
  causal_eval/api/routes/evaluation.py
  causal_eval/core/engine.py
  causal_eval/core/metrics.py
  causal_eval/database/__init__.py
  causal_eval/database/connection.py
  causal_eval/database/models.py
  causal_eval/integrations/__init__.py
  causal_eval/integrations/cache.py
  causal_eval/integrations/model_apis.py
  causal_eval/integrations/notifications.py
  causal_eval/repositories/__init__.py
  causal_eval/repositories/base.py
  causal_eval/repositories/evaluation.py
  causal_eval/tasks/__init__.py
  causal_eval/tasks/attribution.py
  causal_eval/tasks/counterfactual.py
  causal_eval/tasks/intervention.py
  tests/conftest.py
  tests/integration/test_api_evaluation.py
  tests/unit/test_causal_attribution.py
  tests/unit/test_evaluation_engine.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @devops-team, @backend-experts, @domain-experts, @python-experts

feat: implement complete Terragon Adaptive SDLC with production-ready architecture
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  causal_eval/api/app.py
  causal_eval/api/middleware/__init__.py
  causal_eval/api/middleware/monitoring.py
  causal_eval/api/middleware/rate_limiting.py
  causal_eval/api/middleware/validation.py
  causal_eval/api/routes/evaluation.py
  causal_eval/api/routes/leaderboard.py
  causal_eval/core/caching.py
  causal_eval/core/concurrency.py
  causal_eval/core/logging_config.py
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers, @backend-experts

Remove workflow files for GitHub App compatibility
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers

feat(ci-cd): add comprehensive CI, CD, and security GitHub workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers

feat(ci-cd): add comprehensive CI, CD, and security GitHub workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Owners: @danieleschmidt, @devops-team, @causal-eval-maintainers

feat(integrations): add circuit breaker and retry logic to model API clients
  causal_eval/analysis/__init__.py
  causal_eval/analysis/benchmarking.py
  causal_eval/analysis/error_analysis.py
  causal_eval/analysis/profiling.py
  causal_eval/analysis/statistical.py
  causal_eval/generation/__init__.py
  causal_eval/generation/scenario_generator.py
  causal_eval/integrations/model_apis.py
  causal_eval/research/__init__.py
  causal_eval/research/dataset_builder.py
  causal_eval/research/publication_tools.py
  causal_eval/tasks/chain.py
  causal_eval/tasks/confounding.py
Owners: @danieleschmidt, @data-scientists, @domain-experts, @ai-experts, @causal-eval-maintainers

feat(integrations): add circuit breaker and retry logic to model API clients (#24)
  causal_eval/analysis/__init__.py
  causal_eval/analysis/benchmarking.py
  causal_eval/analysis/error_analysis.py
  causal_eval/analysis/profiling.py
  causal_eval/analysis/statistical.py
  causal_eval/generation/__init__.py
  causal_eval/generation/scenario_generator.py
  causal_eval/integrations/model_apis.py
  causal_eval/research/__init__.py
  causal_eval/research/dataset_builder.py
  causal_eval/research/publication_tools.py
  causal_eval/tasks/chain.py
  causal_eval/tasks/confounding.py
Owners: @danieleschmidt, @data-scientists, @domain-experts, @ai-experts, @causal-eval-maintainers

feat(performance): add advanced performance optimization and intelligent caching system
  PRODUCTION_DEPLOYMENT_GUIDE.md
  causal_eval/api/app.py
  causal_eval/api/middleware/__init__.py
  causal_eval/api/middleware/enhanced_validation.py
  causal_eval/api/routes/evaluation_simple.py
  causal_eval/api/routes/tasks_simple.py
  causal_eval/core/caching.py
  causal_eval/core/concurrency.py
  causal_eval/core/engine.py
  causal_eval/core/error_handling.py
  causal_eval/core/logging_config.py
  causal_eval/core/monitoring.py
  causal_eval/core/performance_optimizer.py
  causal_eval/main.py
  causal_eval/tasks/attribution.py
  tests/integration/test_api_performance.py
  tests/unit/test_performance_optimizer.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts, @domain-experts, @python-experts

feat(performance): add advanced performance optimization and intelligent caching system (#25)
  PRODUCTION_DEPLOYMENT_GUIDE.md
  causal_eval/api/app.py
  causal_eval/api/middleware/__init__.py
  causal_eval/api/middleware/enhanced_validation.py
  causal_eval/api/routes/evaluation_simple.py
  causal_eval/api/routes/tasks_simple.py
  causal_eval/core/caching.py
  causal_eval/core/concurrency.py
  causal_eval/core/engine.py
  causal_eval/core/error_handling.py
  causal_eval/core/logging_config.py
  causal_eval/core/monitoring.py
  causal_eval/core/performance_optimizer.py
  causal_eval/main.py
  causal_eval/tasks/attribution.py
  tests/integration/test_api_performance.py
  tests/unit/test_performance_optimizer.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts, @domain-experts, @python-experts

feat(core): add advanced concurrency, auto-scaling, health monitoring, and security
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  causal_eval/api/routes/health.py
  causal_eval/core/advanced_concurrency.py
  causal_eval/core/auto_scaling.py
  causal_eval/core/health_monitoring.py
  causal_eval/core/security.py
  quality_gates_results.json
  scripts/comprehensive_quality_gates.py
  test_basic_functionality.py
  test_generation2_robustness.py
  test_generation3_scaling.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts, @devops-team

feat(core): add advanced concurrency, auto-scaling, health monitoring, and security (#26)
  PRODUCTION_DEPLOYMENT_COMPLETE.md
  causal_eval/api/routes/health.py
  causal_eval/core/advanced_concurrency.py
  causal_eval/core/auto_scaling.py
  causal_eval/core/health_monitoring.py
  causal_eval/core/security.py
  quality_gates_results.json
  scripts/comprehensive_quality_gates.py
  test_basic_functionality.py
  test_generation2_robustness.py
  test_generation3_scaling.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts, @devops-team

feat(deployment,security,test): add comprehensive deployment readiness, security assessment, and tests
  deployment_final.py
  deployment_readiness_check.py
  deployment_simple.py
  security_assessment.py
  security_assessment_report.json
  test_comprehensive_suite.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(deployment,security,test): add comprehensive deployment readiness, security assessment, and tests (#32)
  deployment_final.py
  deployment_readiness_check.py
  deployment_simple.py
  security_assessment.py
  security_assessment_report.json
  test_comprehensive_suite.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(sdlc): complete autonomous SDLC implementation with all three generations
  causal_eval/core/engine_robust.py
  causal_eval/core/engine_scalable.py
  pyproject.toml
  quality_gates_results.json
  security_assessment_report.json
  simple_test_runner.py
Owners: @danieleschmidt, @causal-eval-maintainers, @python-experts

feat(sdlc): complete autonomous SDLC implementation with all three generations (#33)
  causal_eval/core/engine_robust.py
  causal_eval/core/engine_scalable.py
  pyproject.toml
  quality_gates_results.json
  security_assessment_report.json
  simple_test_runner.py
Owners: @danieleschmidt, @causal-eval-maintainers, @python-experts

feat(autonomous-sdlc): complete three-generation progressive enhancement
  causal_eval/core/engine_scalable.py
  quality_gates_results.json
Owners: @danieleschmidt, @causal-eval-maintainers

feat(autonomous-sdlc): complete three-generation progressive enhancement (#34)
  causal_eval/core/engine_scalable.py
  quality_gates_results.json
Owners: @danieleschmidt, @causal-eval-maintainers

feat(assessment): add comprehensive production readiness and quality gate assessments
  TERRAGON_SDLC_COMPLETION_REPORT.md
  production_assessment_simple.py
  production_readiness_assessment.py
  run_quality_gates.py
  test_causal_evaluation_system.py
  test_robust_evaluation.py
  test_scalable_simple.py
  test_scalable_system.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(assessment): add comprehensive production readiness and quality gate assessments (#35)
  TERRAGON_SDLC_COMPLETION_REPORT.md
  production_assessment_simple.py
  production_readiness_assessment.py
  run_quality_gates.py
  test_causal_evaluation_system.py
  test_robust_evaluation.py
  test_scalable_simple.py
  test_scalable_system.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt
