Repository danieleschmidt/causal-eval-bench, changes with the owners that CODEOWNERS names for each.
All owners: @danieleschmidt, @causal-eval-maintainers, @domain-experts, @ml-experts, @ai-experts, @backend-experts, @devops-team, @sre-team, @python-experts, @frontend-team, @docs-team, @security-team, @legal-team, @community-team, @data-engineers, @data-scientists, @ui-experts

test(production_deployment): add comprehensive deployment summary and validation tests
  production_deployment_summary.py
  test_basic_functionality_simple.py
  test_comprehensive_quality_gates.py
  test_core_logic_only.py
  test_generation3_optimization.py
  test_robust_logic_simple.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(causal_eval): add comprehensive production-ready causal evaluation framework
  PRODUCTION_READINESS.md
  causal_eval/i18n/localization.py
  causal_eval/platform/__init__.py
  causal_eval/platform/compatibility.py
  causal_eval/platform/deployment.py
  causal_eval/research/baseline_models.py
  causal_eval/research/experimental_framework.py
  causal_eval/research/novel_algorithms.py
  causal_eval/research/research_discovery.py
  causal_eval/research/validation_suite.py
  scripts/deploy.py
  scripts/test_deployment_capabilities.py
  test_research_framework_comprehensive.py
  test_research_framework_simple.py
  validate_research_framework.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @devops-team

test(production_deployment): add comprehensive deployment summary and validation tests (#36)
  production_deployment_summary.py
  test_basic_functionality_simple.py
  test_comprehensive_quality_gates.py
  test_core_logic_only.py
  test_generation3_optimization.py
  test_robust_logic_simple.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(causal_eval): add comprehensive production-ready causal evaluation framework (#37)
  PRODUCTION_READINESS.md
  causal_eval/i18n/localization.py
  causal_eval/platform/__init__.py
  causal_eval/platform/compatibility.py
  causal_eval/platform/deployment.py
  causal_eval/research/baseline_models.py
  causal_eval/research/experimental_framework.py
  causal_eval/research/novel_algorithms.py
  causal_eval/research/research_discovery.py
  causal_eval/research/validation_suite.py
  scripts/deploy.py
  scripts/test_deployment_capabilities.py
  test_research_framework_comprehensive.py
  test_research_framework_simple.py
  validate_research_framework.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @devops-team

feat(research-framework): add standalone validation script for research framework
  validate_research_framework_standalone.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(research-framework): add standalone validation script for research framework (#38)
  validate_research_framework_standalone.py
Owners: @danieleschmidt, @causal-eval-maintainers

feat(security): add autonomous SDLC report and update security assessment findings
  autonomous_sdlc_final_report.json
  security_assessment_report.json
Owners: @danieleschmidt, @causal-eval-maintainers

feat(security): add autonomous SDLC report and update security assessment findings (#44)
  autonomous_sdlc_final_report.json
  security_assessment_report.json
Owners: @danieleschmidt, @causal-eval-maintainers

feat(production): add comprehensive production deployment and readiness framework
  TERRAGON_AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  causal_eval/platform/production_deployment.py
  causal_eval/research/advanced_discovery.py
  causal_eval/research/enhanced_validation.py
  production_readiness_final_assessment.py
  production_readiness_final_results.json
  research_enhancement_test_results.json
  research_framework_validation_results.json
  test_research_enhancement_comprehensive.py
  test_research_framework_direct.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(production): add comprehensive production deployment and readiness framework (#45)
  TERRAGON_AUTONOMOUS_SDLC_FINAL_COMPLETION_REPORT.md
  causal_eval/platform/production_deployment.py
  causal_eval/research/advanced_discovery.py
  causal_eval/research/enhanced_validation.py
  production_readiness_final_assessment.py
  production_readiness_final_results.json
  research_enhancement_test_results.json
  research_framework_validation_results.json
  test_research_enhancement_comprehensive.py
  test_research_framework_direct.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(core): add robust validation, scalable engine, and comprehensive tests
  TERRAGON_SDLC_COMPLETION_REPORT.md
  causal_eval/core/metrics.py
  causal_eval/core/validation.py
  run_comprehensive_test_suite.py
  test_minimal_causal_system.py
  test_robust_evaluation.py
  test_scalable_system.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(core): add robust validation, scalable engine, and comprehensive tests (#46)
  TERRAGON_SDLC_COMPLETION_REPORT.md
  causal_eval/core/metrics.py
  causal_eval/core/validation.py
  run_comprehensive_test_suite.py
  test_minimal_causal_system.py
  test_robust_evaluation.py
  test_scalable_system.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(revolutionary): implement quantum leap autonomous SDLC with novel algorithms
  AUTONOMOUS_SDLC_QUANTUM_LEAP_COMPLETION_REPORT.md
  causal_eval/api/app.py
  causal_eval/research/advanced_optimization.py
  causal_eval/research/novel_algorithms.py
  quantum_leap_validation_results.json
  test_quantum_leap_validation.py
  test_revolutionary_causal_algorithms.py
  test_revolutionary_simple_validation.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts

feat(revolutionary): implement quantum leap autonomous SDLC with novel algorithms (#47)
  AUTONOMOUS_SDLC_QUANTUM_LEAP_COMPLETION_REPORT.md
  causal_eval/api/app.py
  causal_eval/research/advanced_optimization.py
  causal_eval/research/novel_algorithms.py
  quantum_leap_validation_results.json
  test_quantum_leap_validation.py
  test_revolutionary_causal_algorithms.py
  test_revolutionary_simple_validation.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt, @backend-experts

feat(quantum-autonomous-sdlc): add full Quantum Autonomous SDLC implementation and tests
  IMPLEMENTATION_SUMMARY.md
  QUANTUM_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  causal_eval/core/metrics.py
  causal_eval/main.py
  quantum_sdlc_test_report.json
  test_quantum_autonomous_implementation.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

feat(quantum-autonomous-sdlc): add full Quantum Autonomous SDLC implementation and tests (#48)
  IMPLEMENTATION_SUMMARY.md
  QUANTUM_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  causal_eval/core/metrics.py
  causal_eval/main.py
  quantum_sdlc_test_report.json
  test_quantum_autonomous_implementation.py
Owners: @docs-team, @causal-eval-maintainers, @danieleschmidt

CODEOWNERS:

# Code Owners for Causal Eval Bench
# This file defines who must review changes to specific parts of the codebase.
# Maintainers and contributors are automatically requested for review based on the files changed.

# Global fallback - require review from core maintainers
* @danieleschmidt @causal-eval-maintainers

# =============================================================================
# CORE FRAMEWORK
# =============================================================================

# Core evaluation engine - requires specialized domain expertise
/causal_eval/tasks/ @danieleschmidt @domain-experts @causal-eval-maintainers
/causal_eval/evaluation/ @danieleschmidt @ml-experts @causal-eval-maintainers
/causal_eval/generation/ @danieleschmidt @ai-experts @causal-eval-maintainers

# API and interfaces - critical for stability
/causal_eval/api/ @danieleschmidt @backend-experts @causal-eval-maintainers
/causal_eval/__init__.py @danieleschmidt @causal-eval-maintainers

# Configuration and settings
/causal_eval/config/ @danieleschmidt @devops-team @causal-eval-maintainers

# =============================================================================
# INFRASTRUCTURE & OPERATIONS
# =============================================================================

# Docker and containerization
Dockerfile* @danieleschmidt @devops-team @causal-eval-maintainers
docker-compose*.yml @danieleschmidt @devops-team @causal-eval-maintainers
.dockerignore @devops-team @causal-eval-maintainers

# CI/CD workflows - critical infrastructure
/.github/workflows/ @danieleschmidt @devops-team @causal-eval-maintainers
/.github/actions/ @danieleschmidt @devops-team @causal-eval-maintainers

# Deployment and monitoring
/deploy/ @danieleschmidt @devops-team @causal-eval-maintainers
/monitoring/ @devops-team @sre-team @causal-eval-maintainers
/scripts/ @danieleschmidt @devops-team @causal-eval-maintainers

# Build configuration
pyproject.toml @danieleschmidt @python-experts @causal-eval-maintainers
poetry.lock @danieleschmidt @python-experts @causal-eval-maintainers
setup.py @danieleschmidt @python-experts @causal-eval-maintainers
setup.cfg @python-experts @causal-eval-maintainers

# =============================================================================
# DEVELOPMENT ENVIRONMENT
# =============================================================================

# Development container configuration
/.devcontainer/ @danieleschmidt @devops-team @causal-eval-maintainers
/.vscode/ @danieleschmidt @frontend-team

# Code quality and linting
.pre-commit-config.yaml @danieleschmidt @python-experts @causal-eval-maintainers
.ruff.toml @python-experts @causal-eval-maintainers
mypy.ini @python-experts @causal-eval-maintainers
.black @python-experts @causal-eval-maintainers

# Testing configuration
pytest.ini @danieleschmidt @python-experts @causal-eval-maintainers
tox.ini @python-experts @causal-eval-maintainers
/tests/ @danieleschmidt @python-experts @causal-eval-maintainers

# =============================================================================
# DOCUMENTATION
# =============================================================================

# Core documentation - requires domain expertise
README.md @danieleschmidt @docs-team @causal-eval-maintainers
CHANGELOG.md @danieleschmidt @docs-team @causal-eval-maintainers

# Technical documentation
/docs/ @danieleschmidt @docs-team @causal-eval-maintainers
*.md @docs-team @causal-eval-maintainers

# API documentation
/docs/api/ @danieleschmidt @backend-experts @docs-team
/docs/examples/ @danieleschmidt @docs-team @ml-experts

# Deployment documentation
/docs/deployment/ @devops-team @sre-team @docs-team
/docs/monitoring/ @devops-team @sre-team @docs-team

# =============================================================================
# SECURITY & COMPLIANCE
# =============================================================================

# Security-sensitive files
SECURITY.md @danieleschmidt @security-team @causal-eval-maintainers
/.github/dependabot.yml @security-team @devops-team
/.secrets.baseline @security-team @causal-eval-maintainers

# License and legal
LICENSE @danieleschmidt @legal-team @causal-eval-maintainers
NOTICE @legal-team @causal-eval-maintainers

# Governance
CONTRIBUTING.md @danieleschmidt @community-team @causal-eval-maintainers
CODE_OF_CONDUCT.md @community-team @causal-eval-maintainers
GOVERNANCE.md @danieleschmidt @community-team @causal-eval-maintainers

# =============================================================================
# DOMAIN-SPECIFIC AREAS
# =============================================================================

# Machine Learning models and algorithms
/causal_eval/models/ @danieleschmidt @ml-experts @ai-experts
/causal_eval/algorithms/ @danieleschmidt @ml-experts @domain-experts

# Data processing and analysis
/causal_eval/data/ @danieleschmidt @data-engineers @ml-experts
/causal_eval/analysis/ @danieleschmidt @data-scientists @domain-experts

# Evaluation metrics and benchmarks
/causal_eval/metrics/ @danieleschmidt @ml-experts @domain-experts
/benchmarks/ @danieleschmidt @ml-experts @domain-experts

# =============================================================================
# FRONTEND & UI (if applicable)
# =============================================================================

# Web interface and dashboards
/web/ @frontend-team @ui-experts
/dashboard/ @frontend-team @ui-experts @data-scientists

# Visualization components
/causal_eval/visualization/ @frontend-team @data-scientists @ui-experts

# =============================================================================
# SAMPLE DATA & EXAMPLES
# =============================================================================

# Sample datasets and examples
/samples/ @danieleschmidt @docs-team @ml-experts
/examples/ @danieleschmidt @docs-team @ml-experts
/data/samples/ @data-engineers @ml-experts

# =============================================================================
# TEAM DEFINITIONS
# =============================================================================
# The following GitHub teams should be created in the repository settings:
#
# Core Teams:
# - @causal-eval-maintainers: Core maintainers with merge access
# - @danieleschmidt: Project lead and primary maintainer
#
# Specialized Teams:
# - @ml-experts: Machine learning specialists
# - @ai-experts: AI/LLM specialists  
# - @domain-experts: Causal reasoning domain experts
# - @data-scientists: Data analysis specialists
# - @data-engineers: Data pipeline specialists
#
# Technical Teams:
# - @python-experts: Python development specialists
# - @backend-experts: Backend/API specialists
# - @frontend-team: Frontend developers
# - @ui-experts: UI/UX specialists
# - @devops-team: DevOps and infrastructure
# - @sre-team: Site reliability engineers
# - @security-team: Security specialists
#
# Support Teams:
# - @docs-team: Documentation specialists
# - @community-team: Community management
# - @legal-team: Legal and compliance
#
# =============================================================================
# REVIEW REQUIREMENTS
# =============================================================================
# Minimum review requirements by area:
#
# Critical Areas (2+ reviews required):
# - Core evaluation engine (/causal_eval/tasks/, /causal_eval/evaluation/)
# - API interfaces (/causal_eval/api/)
# - Security files (SECURITY.md, workflows)
# - Release configuration (pyproject.toml, workflows)
#
# Standard Areas (1+ review required):
# - All other code changes
# - Documentation updates
# - Configuration changes
#
# Auto-merge Eligible (with successful CI):
# - Dependency updates (automated PRs)
# - Documentation typos/formatting
# - Non-functional test updates
#
# =============================================================================
# BRANCH PROTECTION INTEGRATION
# =============================================================================
# This CODEOWNERS file should be used with branch protection rules:
#
# Main Branch Protection:
# - Require pull request reviews before merging
# - Require review from code owners
# - Dismiss stale PR approvals when new commits are pushed
# - Require status checks to pass before merging
# - Require branches to be up to date before merging
# - Restrict pushes to matching branches (admins only)
#
# =============================================================================
